
body {
  background-image: url("/img/healthfoods.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white
}

.jumbotron {
    background-color: rgba(248,248,248, 0);
}

  .navbar-default {
    font-family: 'Arima Madurai', cursive;
    background-color: rgba(248,248,248, 0);
    border: none
}

.navbar > li > a {

    color:  #ddd;
}

#frontEndCert {
  height: 100px;
  width: 100px
}
